*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* PRIMARY */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);


    --Very-dark: hsl(217, 54%, 11%);
    --Very-blue: hsl(216, 50%, 16%);
    --Very-dark-blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    grid-template-rows: 98.3% 1fr;
    font-size: 18px;
    background-color: var(--Very-dark);
    font-family: 'Outfit', sans-serif;
}

.container-card_nft{
    max-width: 350px;
    width: 90%;
    max-height: 596px;
    height: 100%;
    padding: 1.5rem;
    border-radius: 11px;
    background-color: var(--Very-blue);
}

.card-img{
    position: relative;
}

.card-img img{
    max-width: 302px;
    width: 100%;
    height: 302px;
    border-radius: 6px;
    display: block; 
    margin: 0 auto; 
    cursor: pointer;
    position: relative;
}

.content-info_card h1{
    margin-top: 25px;
    font-size: 1.4rem;
    color: var(--White);
    font-weight: 600;
    cursor: pointer;
}

.content-info_card .text-mid{
    margin-top: 24px;
    color: var(--Soft-blue);
    font-weight: 300;
}

.content-price{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
}

.content-price a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.content-price .price-ethereum{
    color: var(--Cyan);
    text-decoration: none;
}

.content-price .clock{
    color: var(--Soft-blue);
}


/* CONTAINER-PERFIL-INFO */
.container-perfil-info{
    display: flex;
    align-items: center;
    margin-top: 36px;
    gap: 15px;
}
.container-img img{
    max-width: 31px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

.container-text .creation{
    color: var(--Soft-blue);
    font-weight: 300;
}

.creation > span{
    color: var(--White);
    cursor: pointer;
}

.divider{
    position: relative;
}

/* Animación */
.divider::before {
    content: "";
    top: 20px;
    background: var(--Very-dark-blue);
    height: 0.1px;
    position: absolute;
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
}

/* ATTRIBUTION */
.attribution{ 
    font-size: 11px; text-align: center; 
    color: var(--White);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

